@font-face{
    font-family: "Rb";
    src: url(../fonts/Roboto-Bold.ttf)
};

@font-face{
    font-family: "Rr";
    src: url(../fonts/Roboto-Regular.ttf)
};

@font-face{
    font-family: "Rm";
    src: url(../fonts/Roboto-Medium.ttf)
};