*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  outline: none;
  color: #000000;
}

body{
  background-color: #E9E9E9;
}

h1,h2,h3,h4,h5,h6,p{
  text-decoration: none;
  padding: 0;
  margin: 0;
}
textarea,input {
    resize: none;
    width: 100%;
    outline: none;
}

button{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
