// MODAL WINDOW
.modal{
    display: none;
    position: fixed; 
    z-index: 100;  
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0,0,0,0.4);
        &__content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            border: 6px solid #DF1111;
            position: relative;
            border-radius: 10px;
            margin: 14vw auto;
            width: 41.7vw;
            height: 22.9vw;
            animation-name: animatetop;
            animation-duration: 0.5s;
            @media(max-width:767px){
                width: 91.2vw;
                height: 118.4vw;
                border: 6px solid  #DF1111;
                margin: 28vw auto;
                }
            @media(min-width:768px)and(max-width:1023px){
                width: 58vw;
                height: 38vw;
                border: 4px solid  #DF1111;
                margin: 24vw auto;
                }
            @media(min-width:1024px)and(max-width:1439px){
                border: 4px solid #DF1111;
                width: 45vw;
                height: 26vw;
                margin: 18vw auto;
            }
            @media(min-width: 1440px)and(max-width: 1599px){
                border: 4px solid #DF1111;
                margin: 12vw auto;
            }
        }
        &-form{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 21.5vw;
            margin: 50% 0;
            @media(max-width:767px){
                width: 73.5vw;
            }
            @media(min-width:768px)and(max-width:1023px){
                width: 38vw;
            }
            @media(min-width:1024px)and(max-width:1439px){
                width: 28vw;
            }
        } 
        &-input{
            font-family: 'Rr';
            font-size: 0.73vw;
            padding: 0.85vw 1vw;
            border: 2px solid #000000;
            border-radius: 10px;
            margin-bottom: 1vw;
            transition: all 0.3s;
            background-color: #ffffff;
            @media(max-width:767px){
                font-size: 3.8vw;
                padding: 4vw 5.3vw;
                margin-bottom: 8vw;
            }
            @media(min-width:768px)and(max-width:1023px){
                font-size: 1.8vw;
                padding: 1.2vw 1.5vw;
                margin-bottom: 1.5vw;
            }
            @media(min-width:1024px)and(max-width:1439px){
                font-size: 1.1vw;
                margin-bottom: 1vw;
            }
            @media(min-width: 1440px)and(max-width: 1599px){
                font-size: 0.8vw;
            }
                &:hover{
                    background-color: #000000;
                    color: #ffffff;
                }
                &:hover::placeholder{
                    color: #ffffff;
                }
        }
        &-button{
            align-self: center;    
            font-family: 'Rm';
            font-size: 0.73vw;
            text-transform: uppercase;
            padding: 1.6vw 4vw;
            text-align: center;
            border: 2px solid #000000;
            border-radius: 10px;
            margin-top: 7.2%;
            transition: all 0.3s;
            background-color: #000000;
            color: #ffffff;
            @media(max-width:767px){
                font-size: 3.8vw;
                padding: 8vw 20.5vw;
            }
            @media(min-width:768px)and(max-width:1023px){
                font-size: 1.8vw;
                padding: 2.5vw 5vw;
                margin-top: 5%;
            }
            @media(min-width:1024px)and(max-width:1439px){
                font-size: 1vw;
            }
                &:hover{
                    background-color:#ffffff;
                    color:  #000000;
                }
        }
}

.close{
    width: 1.72vw;
    height: 1.72vw;
    position: absolute;
    top: -0.1vw;
    right: -0.1vw;
    background-color: #DF1111;
    border: 3px solid #DF1111;
    border-radius: 0 8px 0 10px;
    cursor: pointer;
    @media(max-width:767px){
        width: 6vw;
        height: 6vw;
        border-radius: 0 3px 0 10px;
    }
    @media(min-width:768px)and(max-width:1023px){
       width: 2.5vw;
       height: 2.5vw;
       border-radius: 0 4px 0 10px;
    }
    @media(min-width:1024px)and(max-width:1439px){
          border-radius: 0 5px 0 10px;      
    }
        &-icon{
            display: block;
            height: 0.2vw;
            width: 1vw;
            background-color: #ffffff;
            position: absolute;
            transform: rotate(45deg);
            top: 0.55vw;
            right: 0.19vw;
            transition: all 0.3s;
            @media(max-width:767px){
                width: 4.5vw;
                height: 0.8vw;
                right: 0;
                top: 1.6vw;
            }
            @media(min-width:768px)and(max-width:1023px){
               height: 0.3vw;
               width: 1.5vw;
               right: 0.1vw;
            }
            @media(min-width:1024px)and(max-width:1439px){
                top: 0.40vw;
                right: 0;
            }
            @media(min-width: 1440px)and(max-width: 1599px){
                top: 0.45vw;
                right: 0.1vw;
            }
            @media(min-width:2561px){
                top: 0.61vw;
                right: 0.25vw;
            }
                &:hover{
                    background-color: #000000;
                        &::after{
                            background-color: #000000;
                        }
                }
                &::after{
                    content: "";
                    display: block;
                    height: 0.2vw;
                    width: 1vw;
                    background-color: #ffffff;
                    position: absolute;
                    transform: rotate(90deg);
                    top:0;
                    transition: all 0.3s;
                    @media(max-width:767px){
                        width: 4.5vw;
                        height: 0.8vw;
                        right: 0;
                        top: 0;
                    }
                    @media(min-width:768px)and(max-width:1023px){
                        height: 0.3vw;
                        width: 1.5vw;
                    }
                }
        }
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

// ---HAMBURGER MENU---
.hamburger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.3vw;
    height: 3.3vw;
    cursor: pointer;
      @media(min-width:1024px){
        display: none;
      }
  }
  .hamburger-row{
    display: block;
    position: absolute;
    width: 3%;
    height: 4px;
    bottom: 1.2vw;
    background-color:#DF1111;
    @media(max-width:767px){
       width: 5.3%;
       bottom: 3vw;
    }
        &-scroll{
            bottom: 2vw;
            @media(min-width: 1024px){
                display: none;
            }
            @media(max-width: 767px){
                bottom: 3vw;
            }
        }
  }
  .hamburger-row::before,
  .hamburger-row::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #DF1111;
  }
  .hamburger-row::before {
    content: '';
    top: -7px;
    transition: transform 0.2s ease-in,top 0.2s linear 0.2s;
  }
  .hamburger-row::after {
    content: '';
    top: 7px;
    transition: transform 0.2s ease-in,top 0.2s linear 0.2s;
  }
  
  .hamburger-row-active{
    background-color: transparent;
    width: 3%;
    right: -53vw;
    top:8.3vw;
    cursor: pointer;
    @media(max-width:767px){
       right: -55vw;
       width: 5%;
       top: 11vw;
    }
      &::before{
        transform: rotate(45deg);
        top: 0;
        transition:transform 0.2s ease-in 0.1s;
      }
      &::after{
        transform: rotate(-45deg);
        top: 0;
        transition: transform 0.2s ease-in 0.1s;
      }
  }
  
  .hamburger-logo{
      padding: 13.3% 0 5.3% 5.7%;
  }

  .hamburger__btn-box{
      display: flex;
      padding: 17% 0 0 5.4%;
      @media(max-width: 767px){
        padding: 33% 0 0 5.3vw;
    }
  }
  .hamburger__nav-box {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    text-align: center;
    top:0;
    left: 0;
    height:100vh;
    width: 49vw;
    transition: transform 0.2s;
    background-color: black;
      &-active{
        transform: translateX(-100%);
      }
        &-wrapper{
            display: none;
            width: 100vw;
            height: 100vh;
            background: transparent;
            position: fixed;
            left: 0;
            top: 0;
                &-on{
                    display: block;
                }
        }
  }
  .nav-item {
    display: block;
    padding: 10.6% 0 0 5.4% ;
    font-family: 'Rm';
    font-size: 1.8vw;
    color: #ffffff;
    @media(max-width: 767px){
        font-size: 3.8vw;
        padding: 21.8% 0 0 5.3vw;
    }
      &:hover,:focus {
        color: #DF1111;
      }
      &-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }
  }
  
  .hamburger-btn-language{
    font-family: 'Rm';
    font-size: 1.8vw;
    color: #ffffff;
    border: 1px solid transparent;
    transition: all 0.3s;
    padding: 4.5%;
    margin-right: 1.4vw;
        @media(max-width: 767px){
            font-size: 3.8vw;
        }
  }
  .glow{
    padding: 4.5%;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #DF1111;
    background-color: #FFFFFF; 
  }
// ---HEADER---
.header{
    background-color: #E9E9E9;
    z-index: 30;
    position: fixed;
    width: 100vw;
    padding: 4.06% 21.6% 0 20.6%;
    transition: all 0.3s;
        @media(max-width:767px){
            padding: 13.2% 0 0 5.5%;
        }
        @media(min-width: 1024px)and(max-width: 1439px){
            padding: 4.06% 12% 0 10%;
        }
        @media(min-width:768px)and(max-width:1023px){
            padding:6.5% 3.9% 0 3.9%;
        }
    &-sticky{
        background-color: #ffffff;
        padding: 1.04% 21.6% 1.04% 20.5%;
            @media(min-width: 1024px)and(max-width: 1439px){
                padding: 1% 12% 1% 10%;
            }
            @media(min-width:768px)and(max-width:1023px){
                padding:1% 3.9% 1% 3.9%;
            }
            @media(max-width:767px){
                padding: 1% 0 1% 5.5%;
            }
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width:767px){
            justify-content: flex-start;
        }
    }
    &__logo-box{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @media(max-width:767px){
            padding-left: 19%;
        }
    }
    &-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width:1023px){
            display: none;
        }
    }
    &__btn-box{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 25%;
        @media(min-width: 1024px)and(max-width: 1439px){
            margin-left: 20%;
          }
        @media(min-width:768px)and(max-width:1023px){
           margin: 0 3% 0 0;
        }
        @media(max-width:767px){
            display: none;
        }
    }
}

.navbar-link{
    font-family: 'Rm';
    font-size: 0.73vw;
    color: #9C9C9C;
    margin-right: 15%;
    transition: all 0.3s;
    @media(min-width:1024px)and(max-width: 1439px){
        font-size: 1.1vw;
        margin-right: 13%;
    }
    &:hover,:active{
        color: #000000;
    }
        &:last-child{
            margin-right: 0;
        }
}

.btn-language{
    font-family: 'Rm';
    font-size: 0.73vw;
    color: #000000;
    border: 1px solid transparent;
    transition: all 0.3s;
    padding: 4.5%;
    @media(min-width:768px)and(max-width: 1023px){
        font-size: 1.8vw;
    }
    @media(min-width:1024px)and(max-width: 1439px){
        font-size: 1.1vw;
    }
}
.active{
    padding: 4.5%;
    border: 1px solid #DF1111;
    border-radius: 5px;
    color: #DF1111; 
}

.logo{
    width: 8.4vw;
    @media(min-width:1024px)and(max-width: 1439px){
        width: 9.5vw;
    }
    @media(min-width:768px)and(max-width:1023px){
        width: 21vw;   
    }
    @media(max-width: 767px){
        width: 43vw;
    }
}

.hide{
    left: -100%; 
}

// ---SOCKETCAR---
.socketcar{
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 7.9%;
        @media(max-width:767px){
            padding: 30% 0 24% 0;
        }
        @media(min-width:1024px)and(max-width: 1439px){
           padding-top: 10%;
        }
        @media(min-width:768px)and(max-width:1023px){
            padding-top: 16%;
        }
    }
    &__box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &-contacts__box{
        display: flex;
        justify-content:center;
        align-items: center;
        position: relative;
        padding-bottom: 7%;
        width: 60vw;
        @media(max-width:767px){
            flex-direction: column;
            padding-bottom: 15%;
        }
        @media(min-width: 768px)and(max-width: 1023px){
            justify-content: space-around;
            width: 62vw;
            padding-bottom: 14%;
           }
        @media(min-width: 1024px)and(max-width: 1439px){
            padding-bottom: 13%;
           
        }
    }
    &-contacts-row{
        position: absolute;
        top: -0.5vw;
        width: 96%;
        @media(max-width: 1023px){
            display: none;
        }
        @media(min-width: 1024px)and(max-width: 1439px){
            width: 130%;
        }
        &-tablet{
            position: absolute;
            top: -1vw;
            width: 146%;
           
            @media(min-width:1024px){
                display: none;
            }
                @media(max-width: 767px){
                    display: none;
                }
        }
    }
    &-logo{
        position: absolute;
        width: 27.7%;
        top: 22.3vw;
        left: 36.7%;
        @media(max-width:767px){
           width: 95.3%;
           top: 100vw;
           left: 2%;
        }
        @media(min-width: 768px)and(max-width: 1023px){
            width: 69.5%;
            top: 46vw;
            left: 15%;
          }
        @media(min-width: 1024px)and(max-width: 1439px){
            top: 28.8vw;
            width: 33%;
            left: 33.5%
        }
    }
    &-device-img{
        height: 16.3vw;
        position: absolute;
        top: 5vw;
        @media(max-width:767px){
           height: 60vw;
           top: 32vw;
        }
        @media(min-width:1024px)and(max-width: 1439px){
            height: 19vw;
            top: 8.5vw;
        }
        @media(min-width:768px)and(max-width:1023px){
            height: 30.2vw;
            top: 10.5vw;
        }
            &-bg{
                width: 24.2vw;
                @media(max-width:767px){
                   width: 89.6vw;
                }
                @media(min-width:1024px)and(max-width: 1439px){
                    width:28vw;
                }
                @media(min-width:768px)and(max-width:1023px){
                    width: 45.1vw;
                }
            }
    }
    &-mouse-img{
        width: 1.5vw;
        margin-top: 4.3%;
        @media(min-width:1024px)and(max-width: 1439px){
            width: 2vw;
        }
        @media(max-width:1023px){
            display: none;
        }
    }
    &-arrow{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.26%;
        width: 2.2vw;
        height: 2.2vw;
        border-radius: 50%;
        transition: 0.3s;
        @media(max-width:767px){
            margin-top: 12%;
            width: 11vw;
            height: 11vw;
        }
        @media(min-width:768px)and(max-width:1023px){
            width: 5.5vw;
            height: 5.5vw;
            margin-top: 11.2%;
        }
            &:hover{
                background-color: #DF1111;
            }
            &:active{
                border:2px solid #000000;
                background-color:#E9E9E9 ;
            }
    }
}
.fone{
    font-family: 'Rb';
    font-size:0.73vw;
    @media(max-width:767px){
        font-size: 4.3vw;
        font-family: 'Rm';
    }
    @media(min-width: 768px)and(max-width: 1023px){
       font-size: 1.7vw;
       padding-left: 2vw;
      }
    @media(min-width: 1024px)and(max-width: 1439px){
       font-size: 1vw;
    }
        &-center{
            font-family: 'Rb';
            font-size:0.73vw;
            padding: 0 1.5vw ;
            @media(max-width:767px){
                font-size: 4.3vw;
                font-family: "Rm";
                padding: 1.6vw 0;
            }
            @media(min-width: 768px)and(max-width: 1023px){
                font-size: 1.7vw;
                padding: 0 0 0 2vw;
              }
            @media(min-width: 1024px)and(max-width: 1439px){
                font-size: 1vw;
             }
        }
}

.arrow-img{
    width: 0.94vw;
    @media(max-width:767px){
       width: 5vw;
    }
    @media(min-width:1024px)and(max-width: 1439px){
        width: 1vw;
    }
    @media(min-width:768px)and(max-width:1023px){
         width: 2vw;   
    }
}

.btn-order{
    font-family: 'Rm';
    font-size: 0.73vw;
    text-transform: uppercase;
    padding: 1.51vw 2vw;
    background-color: #DF1111;
    color: #ffffff;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.3s;
    @media(max-width:767px){
        padding: 9% 12% ;
        font-size: 3.7vw;
        margin-top: 13.4vw;
    }
    @media(min-width:1024px)and(max-width:1439px){
        font-size: 1.1vw;
    }
    @media(min-width:768px)and(max-width:1023px){
         font-size: 1.8vw;
         padding: 3.9vw 5.2vw; 
         margin-top: 11.2vw;  
    }
        &:hover,:focus{
            color:#DF1111;
            background-color:#E9E9E9;
            border: 2px solid #DF1111;
        }
}

// ---WHEEL---
.wheel{
    position: relative;
    background: linear-gradient(0deg, rgb(255, 255, 255) 60%, rgb(233, 233, 233) 1%);
    @media(max-width:767px){
        background: #ffffff;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 14% 0 11.3% 0;
        @media(max-width:767px){
            padding: 77.5% 0;
        }
        @media(min-width:768px)and(max-width:1023px){
            padding: 27.1% 0 28.4% 0;
        }
    }
    &__center{
        display: flex;
        justify-content: center;
        height: 32.1vw;
        width: 32.1vw;
        background-color:#ffffff;
        box-shadow: 0px 3px 40px #00000014;
        border-radius: 50%;
        z-index: 10;
        @media(max-width:767px){
            height: 71.73vw;
            width: 71.73vw;
            border: 10px solid #DF1111;
        }
        @media(min-width:768px)and(max-width:1023px){
            height: 33.5vw;
            width: 33.5vw;
        }
    }
    &__center-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        background: linear-gradient(45deg, rgb(255, 255, 255) 50%, rgb(233, 233, 233) 1%);
        @media(max-width:767px){
            background: #ffffff;
        }
    }
    &__redline-top{
        align-self: flex-start;
        position: relative;
    }
    &__redline-bot{
        align-self: flex-end;
        position: relative;
        
    }
}
.redline-top-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2.6vw;
    left: 22.5vw;
    @media(min-width:1024px)and(max-width: 1439px){
        top: -2.6vw;
        left: 21vw;
    }
    @media(max-width:767px){
        top: -74vw;
        left: 28.5vw;
     }
    @media(min-width:768px)and(max-width:1023px){
       top: -13.2vw;
       left: 9vw;
     }
}

.redline-bot-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9.3vw;
    right: 22vw;
    @media(min-width:1024px)and(max-width: 1439px){
        top: -9.3vw;
        right: 20vw;
    }
    @media(max-width:767px){
       top: 13vw;
       right: 28vw;
    }
    @media(min-width:768px)and(max-width:1023px){
       top: -15vw;
       right: 9vw;
    }
}

.redline-top-btn,.redline-bot-btn{
    font-family: 'Rm';
    font-size: 0.73vw;
    padding: 13% 35%;
    border: 2px solid #ffffff;
    border-radius: 10px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 5%;
    white-space: nowrap;
    @media(min-width:1024px)and(max-width: 1439px){
        font-size: 1vw;
        padding: 13% 25%;
    }
    @media(max-width:767px){
        font-size: 3.7vw;
        padding: 13% 38%;
        margin-top: 9.5%;
    }
    @media(min-width:768px)and(max-width:1023px){
        font-size: 1.8vw;
        padding: 15.7% 21.1%;
        margin-top: 19.3%;
    }
        &:hover,:focus{
            color:#DF1111;
            background-color:#ffffff;
            border: 2px solid #DF1111;
        }
}

.wheel-img{
    align-self: center;
    width: 11.7vw;
    @media(max-width:767px){
        width: 40vw;
    }
    @media(min-width:768px)and(max-width:1023px){
        width: 18.9vw;
    }
}
.redline-img,.redline-img-reverse{
    width:66.7vw;
    @media(min-width:1024px)and(max-width: 1439px){
        width:66.3vw;
    }
    @media(max-width:1023px){
        display: none;
    }
}

.redline-img-tablet,.redline-img-reverse-tablet{
    width: 65.5vw;
    @media(min-width:1024px){
        display: none;
    }
    @media(max-width:767px){
        display: none;
    }
}

.redline-img-mobile,.redline-img-reverse-mobile{
    width: 100vw;
    @media(min-width: 768px){
        display: none;
    }
}

.redline-img-inner{
    width: 8.23vw;
    @media(max-width:767px){
        width: 42.2vw;
    }
    @media(min-width:768px)and(max-width:1023px){
        width: 18.2vw;
    }
}

.redline-img{
    position: absolute;
    top: -7vw;
    left: 0;
}

.redline-img-tablet{
    position: absolute;
    top: -16.5vw;
    left: 0;
}

.redline-img-mobile{
    position: absolute;
    top: -77.6vw;
    left: 0;
}

.redline-img-reverse{
    position: absolute;
    transform:rotate(180deg);
    bottom: -7vw;
    right: 0;
}

.redline-img-reverse-tablet{
    position: absolute;
    transform:rotate(180deg);
    bottom: -16.5vw;
    right: 0;
}

.redline-img-reverse-mobile{
    position: absolute;
    transform:rotate(180deg);
    bottom: -77.6vw;
    right: 0;
    
}

// ---DOCUMENTATION---
.documentation{
    background-color: #ffffff;
        &__wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__title-box{
            padding-bottom: 3.2%;
                @media(max-width:767px){
                   padding: 16% 0 10.7% 0;
                }
        }
        &-title{
            font-family: 'Rb';
            font-size: 7.3vw;
            color: #E9E9E9;
            text-transform: uppercase;
            letter-spacing: -7px;
            white-space: nowrap;
            @media(max-width:767px){
                font-size: 9vw;
                letter-spacing: -2.25px;
            }
            @media(min-width:768px)and(max-width:1023px){
                font-size: 11.7vw;
            }
        }
        &__content-box{
            display: flex;
            justify-content: center;
            align-items: center;
            padding:  0 20.5%;
            @media(max-width:767px){
               flex-direction: column;
               padding: 0 4.2%;
            }
            @media(min-width:768px)and(max-width:1023px){
                flex-direction: column;
                padding:0 3.9%;
            }
        }
        &-text{
            font-family: 'Rm';
            font-size: 0.83vw;
            line-height: 1.36vw;
            padding: 4.25% 0;
            border-bottom: 2px solid #000000;
            @media(min-width:1024px)and(max-width: 1439px){
                font-size: 1vw;
            }
            @media(min-width:768px)and(max-width:1023px){
                font-size: 2.1vw;
                line-height: 3.4vw;
                padding: 2.9% 0;
                margin-right: 27%;     
            }
            @media(max-width:767px){
                font-size: 3.2vw;
                line-height: 5.2vw;
                padding-bottom: 26.7%;
            }
                &-center{
                    font-family: 'Rm';
                    font-size: 0.83vw;
                    line-height: 1.36vw;
                    padding: 4.25% 0;
                    border-bottom: 2px solid #000000;
                    @media(min-width:1024px)and(max-width: 1439px){
                        font-size: 1vw;
                    }
                    @media(min-width:768px)and(max-width:1023px){
                        font-size: 2.1vw;
                        line-height: 3.4vw;
                        padding:  2.9% 0;
                        margin-left: 29%;    
                    }
                    @media(max-width:767px){
                        font-size: 3.2vw;
                        line-height: 5.2vw;
                        padding-bottom: 26.7%;
                    }
                }
                &-bot{
                    font-family: 'Rm';
                    font-size: 0.83vw;
                    line-height: 1.36vw;
                    padding-top: 4.25%;
                    @media(min-width:1024px)and(max-width: 1439px){
                        font-size: 1vw;
                    }
                    @media(min-width:768px)and(max-width:1023px){
                        font-size: 2.1vw;
                        line-height: 3.4vw;
                        padding-top:  2.9%;
                        margin-right: 35%;    
                    }
                    @media(max-width:767px){
                        font-size: 3.2vw;
                        line-height: 5.2vw;
                        padding-bottom: 26.7%;
                    }
                }
        }
        &-text-box{
            display: flex;
            flex-direction: column;
            margin: 0 6.3% 0 0;
            position: relative;
            @media(max-width:767px){
               margin: 0;
            }
            @media(min-width:768px)and(max-width:1023px){
               margin: 0;
            }
        }
        &__img-box{
            display: flex;
            justify-content: center;
            align-items: center;
            @media(min-width:768px)and(max-width:1023px){
                margin-top: 7%;
             }
        }
        &-img{
            width: 31vw;
            @media(max-width:767px){
                width: 90vw;
            }
            @media(min-width:768px)and(max-width:1023px){
                width: 73vw;
            }
            @media(min-width:1024px)and(max-width:1439px){
                width: 36vw;
            }
        }
}
// ---PARTNERSHIP--- 
.partnership{
    background-color: #ffffff;
        &__wrapper{
            display: flex;
            flex-direction: column;
            padding-top: 4.5%;
            @media(max-width:767px){
                padding-top: 0;
            }
        }
        &-title{
            font-family: 'Rb';
            font-size: 7.3vw;
            color: #E9E9E9;
            text-transform: uppercase;
            letter-spacing: -7px;
            white-space: nowrap;
            @media(max-width:767px){
                font-size: 10.7vw;
            }
            @media(min-width:768px)and(max-width:1023px){
                font-size: 11.7vw;
            }
        }
        &__title-box{
            align-self: center;
            padding-bottom: 4.8%;
            @media(max-width:767px){
                padding-bottom:14.4%;
            }
            @media(min-width:768px)and(max-width:1023px){
               padding-bottom: 11.7%;
            }
        }
        &__info-row{
            display: flex;
            justify-content:flex-start;
            align-items: center;
            position: relative;
            @media(max-width:1023px){
                flex-direction: column;
                align-items: flex-start;
            }
        }
        &-img{
            width: 24.5vw;
            z-index: 10;
            margin-left: 18.7%;
            @media(max-width:767px){
                width: 68.3vw;
                margin: 0 auto;
            }
            @media(min-width:768px)and(max-width:1023px){
                width: 58.6vw;
                margin: 0 auto;
            }
                &-bg{
                    position: absolute;
                    width: 26vw;
                    top: -0.5vw;
                    left: 21vw;
                    @media(max-width:767px){
                        width: 69vw;
                        left: 29vw;
                        top: 1vw;
                    }
                    @media(min-width:768px)and(max-width:1023px){
                        width: 60vw;
                        left: 28vw;
                    }
                }
        }
        &-border{
            position: absolute;
            width: 88vw;
            left: 17.64vw;
            z-index: 20;
            @media(max-width:767px){
                width: 230vw;
                left: 13vw;
            }
            @media(min-width:768px)and(max-width:1023px){
                display: none;
            }
                &-top{
                    position: absolute;
                    width: 60.5vw;
                    left: 16vw;
                    @media(max-width:1023px){
                       display: none;
                    }
                }
                &-tablet{
                    position: absolute;
                    width: 87.1vw;
                    left: 13vw;
                    z-index: 20;
                    top: -6vw;
                    @media(max-width:767px){
                        display: none;
                    }
                    @media(min-width:1024px){
                        display: none;
                    }
                }
        }
        &__text-box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin:  0 0 0 7%;
            @media(max-width:767px){
               margin: 10.7% 0 16% 5.3%; 
            }
            @media(min-width:768px)and(max-width:1023px){
                margin: 10.5% 0 8% 3.9% ;
            }
            
        }
        &-text-top{
            font-family: 'Rm';
            font-size: 1.2vw;
            white-space: nowrap;
            line-height: 125%;
            @media(max-width:1023px){
                display: none;
            }
                &-tablet{
                    margin-right:3.9%;
                    font-family: 'Rm';
                    font-size: 3.1vw;
                    line-height: 125%;
                    @media(max-width:767px){
                        font-size: 6.4vw;
                        margin:0 ;
                     }
                    @media(min-width:1024px){
                        display: none;
                     }
                }
        }
        &-text-bot{
            margin: 8.2% 0 0 0;
            font-family: 'Rm';
            font-size: 1.2vw;
            white-space: nowrap;
            line-height: 125%;
            text-align: start;
            @media(max-width:1023px){
               display: none;
            }
                &-tablet{
                    margin: 5.7% 3.9% 3.9%  0;
                    font-family: 'Rm';
                    font-size: 3.1vw;
                    line-height: 125%;
                    @media(max-width:767px){
                        font-size: 6.4vw;
                        margin: 3% 5.3% 11.5% 0;
                     }
                    @media(min-width:1024px){
                        display: none;
                     }
                }
        }
        &-plus{
            width: 8.5vw;
            position: absolute;
            bottom: -5vw;
            left: 15vw;
            @media(max-width:767px){
               display: none;
            }
            @media(min-width:768px)and(max-width:1023px){
               width: 21.2vw;
               bottom: 34vw;
               left: 10vw;
             }
                &-mobile{
                    width: 37.2vw;
                    position: absolute;
                    top: 46vw;
                    left: 4.7vw;
                    @media(min-width:767px){
                        display: none;
                    }
                }
        }
}

.red-row-tablet{
    align-self: flex-end;
    width: 51vw;
    height: 2.6vw;
    background-color: #DF1111;
    border-radius: 20px 0 0 20px;
    @media(max-width:767px){
        width: 50vw;
        height: 3vw;
        border-radius: 8px 0 0 8px;
    }
    @media(min-width:1024px){
        display: none;
     }
}

// ---ABOUT US---
.about{
    background-color: #ffffff;
        &__wrapper{
            display: flex;
            flex-direction: column;
            padding: 5.8% 0 6% 0;
            @media(max-width:767px){
              padding: 0 0 16% 0;
            }
            @media(min-width:768px)and(max-width:1023px){
               padding: 0;
            }
        }
        &-title{
            font-family: 'Rb';
            font-size: 7.3vw;
            color: #E9E9E9;
            text-transform: uppercase;
            letter-spacing: -7px;
            white-space: nowrap;
            @media(max-width:767px){
                font-size: 10.7vw;
            }
            @media(min-width:768px)and(max-width:1023px){
                font-size: 11.7vw;
            }
        }
        &__title-box{
            align-self: center;
            padding-bottom: 3.7%;
            @media(max-width:767px){
               padding-bottom: 14%;
            }
            @media(min-width:768px)and(max-width:1023px){
               padding-bottom: 11.7%;
            }
        }
        &__info-row{
            display: flex;
            flex-direction: row-reverse;
            justify-content:space-between;
            align-items: center;
            position: relative;
            @media(max-width:1023px){
                flex-direction: column;
                justify-content: center;
            }
        }
        &-img{
            width: 24.5vw;
            z-index: 10;
            margin-right:18.7%;
            @media(max-width:767px){
                width: 68.3vw;
                margin: 0 auto;
            }
            @media(min-width:768px)and(max-width:1023px){
                width: 58.6vw;
                margin: 0 auto;
            }
                &-bg{
                    position: absolute;
                    width: 26vw;
                    top: -0.5vw;
                    right: 21vw;
                    @media(max-width:767px){
                        width: 68vw;
                        right: 29vw;
                        top: 1vw;
                    }
                    @media(min-width:768px)and(max-width:1023px){
                        width: 60vw;
                        right: 26vw;
                    }
                }
        }
        &-border{
            position: absolute;
            width: 88vw;
            right: 17.64vw;
            z-index: 20;
            @media(max-width:767px){
                width: 231vw;
                right: 13vw;
                top: 0.4vw;
            }
            @media(min-width:768px)and(max-width:1023px){
                display: none;
            }
                &-top{
                    position: absolute;
                    width: 59vw;
                    right: 16vw;
                    @media(max-width:1023px){
                       display: none;
                    }
                }
                &-tablet{
                    position: absolute;
                    width: 87.1vw;
                    right: 11.8vw;
                    z-index: 20;
                    top: -6vw;
                    @media(max-width:767px){
                       display: none;
                    }
                    @media(min-width:1024px){
                       display: none;
                    }
                }
        }
        &-plus{
            width: 8.5vw;
            position: absolute;
            bottom: -5vw;
            right: 15vw;
            @media(max-width:767px){
                display: none;
            }
            @media(min-width:768px)and(max-width:1023px){
                width: 21.2vw;
                top:46vw;
                right: 17vw;
              }
                &-mobile{
                    transform: rotateY(180deg);
                    width: 37.2vw;
                    position: absolute;
                    top: 44vw;
                    right: 3vw;
                    @media(min-width:767px){
                        display: none;
                    }
                }
        }
        &__text-box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 17.8%;
            @media(min-width:768px)and(max-width:1023px){
               margin: 10.5% 0 8% 0;
            }
        }
        &-text-top{
            font-family: 'Rm';
            font-size: 1.2vw;
            white-space: nowrap;
            line-height: 160%;
            @media(max-width:1023px){
                display: none;
               }
                &-tablet{
                    font-family: 'Rm';
                    font-size: 3.1vw;
                    margin-left: 3.9%;
                    @media(max-width:767px){
                        font-size: 4.3vw;
                        margin: 10% 5.3% 0 5.3%;
                     }
                    @media(min-width:1024px){
                        display: none;
                     }
                }
        }
        &-text-center{
            font-family: 'Rm';
            font-size: 0.83vw;
            white-space: nowrap;
            line-height: 160%;
            margin:5.7% 0 ;
            @media(max-width:1023px){
                display: none;
            }
            @media(min-width:1024px)and(max-width: 1439px){
                font-size: 1vw;
                line-height: 130%;
            }
                &-tablet{
                    align-self: flex-start;
                    font-family: 'Rm';
                    font-size: 2.1vw;
                    line-height: 160%;
                    margin: 4% 24.6% 4% 3.9%;
                    @media(max-width:767px){
                        font-size: 4.3vw;
                        margin: 8% 0 8% 5.3%;
                     }
                    @media(min-width:1024px){
                        display: none;
                     }
                }
        }
        &-text-bot{
            line-height: 133%;
            font-family: 'Rm';
            font-size: 1.2vw;
            white-space: nowrap;
            color: #DF1111;
            @media(max-width:1023px){
                display: none;
            }
                &-tablet{
                    font-family: 'Rm';
                    font-size: 3.1vw;
                    margin: 0 0 2.7% 3.9%;
                    color:#DF1111;
                    @media(max-width:767px){
                        font-size: 6.4vw;
                        margin: 0 5.3% 10.7% 5.3%;
                     }
                    @media(min-width:1024px){
                        display: none;
                     }
                }
        }
}

.red-row-tablet-reverse{
    align-self: flex-start;
    width: 51vw;
    height: 2.6vw;
    background-color: #DF1111;
    border-radius: 0 20px 20px 0;
    @media(max-width:767px){
       width: 50vw;
       height: 3vw;
       border-radius:  0 8px 8px 0;
     }
    @media(min-width:1024px){
        display: none;
     }
}

// ---FOOTER---
.footer{
    background-color: #E9E9E9;
        &__wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2.1% 0;
            @media(max-width:767px){
               padding: 16% 0 10.7% 0;
            }
            @media(min-width:768px)and(max-width:1023px){
                padding: 4% 0 6.7% 0;
            }
        }
        &-title{
            font-family: 'Rb';
            font-size: 7.9vw;
            color: #D8D8D8;
            text-transform: uppercase;
            white-space: nowrap;
            @media(max-width:767px){
                font-size: 10.7vw;
            }
            @media(min-width:768px)and(max-width:1023px){
            font-size: 11.7vw;
            }
        }
        &__social-box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 12.8vw;
            padding: 2.4% 0;
            @media(max-width:767px){
               width:70vw ;
               padding: 16% 0;
            }
            @media(min-width:768px)and(max-width:1023px){
                width: 25vw;
                padding: 5.2% 0;
                }
            @media(min-width:1024px)and(max-width: 1439px){
                width: 18vw;
            }
        }
        &-contacts__box{
            display: flex;
            justify-content:center;
            align-items: center;
            position: relative;
            padding-top: 2.1%;
            width: 60vw;
            @media(max-width:767px){
                flex-direction: column;
                padding-top: 10.7%;
            }
            @media(min-width: 768px)and(max-width: 1023px){
                justify-content: space-around;
                width: 62vw;
            }
        }
        &-contacts-row{
            position: absolute;
            top: 1.6vw;
            width: 96%;
                @media(max-width: 1023px){
                    display: none;
                }
                @media(min-width: 1024px)and(max-width: 1439px){
                    width: 130%;
                }
                &-tablet{
                    position: absolute;
                    top: 1vw;
                    width: 146%;
                   
                    @media(min-width:1024px){
                        display: none;
                    }
                        @media(max-width: 767px){
                            display: none;
                        }
                }
        }
        &-text{
            font-family: 'Rm';
            font-size: 1.25vw;
            line-height: 1.67vw;
            text-align: center;
            padding-bottom: 1.5%;
            width: 26vw;
            @media(max-width:767px){
              font-size: 6.4vw;
              line-height: 8.6vw;
              width: 91vw;
              padding-bottom: 8%;
            }
            @media(min-width:768px)and(max-width:1023px){
                font-size: 3.1vw;
                line-height: 4.2vw;
                padding-bottom: 3.7%;
                width: 65vw;
                }
        }
        &__img-box{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.2vw;
            height: 2.2vw;
            border-radius: 50%;
            transition: 0.3s;
            @media(max-width:767px){
                height: 11vw;
                width: 11vw;
            }
            @media(min-width:768px)and(max-width:1023px){
                width: 5.5vw;
                height: 5.5vw;
                }
                &:hover{
                    background-color: #DF1111;
                }
                &:active{
                    border:2px solid #000000;
                    background-color:#E9E9E9 ;
                }
        }
        &__form{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 22vw;
            @media(max-width:767px){
                width: 90vw;
            }
            @media(min-width:768px)and(max-width:1023px){
                width: 53.6vw;
                }
            @media(min-width:1024px)and(max-width: 1439px){
                width: 25vw;
            }
        }
}

.form-input{
    font-family: 'Rr';
    font-size: 0.73vw;
    padding: 0.85vw 1vw;
    border: 2px solid #000000;
    border-radius: 10px;
    margin-bottom: 1vw;
    transition: all 0.3s;
    background-color: #E9E9E9;
    @media(max-width:767px){
        font-size:3.8vw;
        padding: 4.5% 6%;
        margin-bottom: 6%;
    }
    @media(min-width:768px)and(max-width:1023px){
        font-size: 1.8vw;
        padding: 2.1vw 2.6vw;
        margin-bottom: 2.6vw;
        }
    @media(min-width:1024px)and(max-width: 1439px){
        font-size: 1.1vw;
    }
        &:hover{
            background-color: #000000;
            color: #ffffff;
        }
        &:hover::placeholder{
            color: #ffffff;
        }
}

textarea{
    height: 7vw;
    @media(max-width:767px){
        height: 36vw;
    }
    @media(min-width:768px)and(max-width:1023px){
        height: 17.6vw;
        }
    @media(min-width:1024px)and(max-width: 1439px){
        height: 8vw;
    }
}

.form-button{
    align-self: center;
    font-family: 'Rm';
    font-size: 0.73vw;
    text-transform: uppercase;
    padding: 1.6vw 4vw;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 4.75% 0 14.2% 0;
    transition: all 0.3s;
    background-color: #000000;
    color: #E9E9E9;
    @media(max-width:767px){
        font-size: 3.8vw;
        padding: 9% 22.5%;
        margin: 3% 0 12% 0 ;
    }
    @media(min-width:768px)and(max-width:1023px){
        font-size:1.8vw;
        padding: 3.9vw 10vw;
        margin: 9.7% 0 14.6% 0;
        }
    @media(min-width:1024px)and(max-width: 1439px){
        font-size: 1vw;
    }
        &:hover{
            background-color:#E9E9E9;
            color:#000000;
        }
}

.all-rights{
    font-family: 'Rr';
    font-size: 0.63vw;
    padding: 1.6% 0 0 0;
    @media(max-width:767px){
        font-size: 3.2vw;
        padding:  10.7% 0 0 0;
    }
    @media(min-width:768px)and(max-width:1023px){
        font-size: 1.6vw;
        padding: 5.2% 0 0 0;
        }
    @media(min-width:1024px)and(max-width: 1439px){
        font-size: 1.1vw;
    }
}

.social-icon{
    width: 100%;
    transition: all 0.3s;
    @media(min-width:1921px)and(max-width: 2560px){
        width: 130%;
        height: 130%;
    }
    @media(min-width:2561px){
        width: 180%;
        height: 180%;
    }
    @media(min-width:1024px)and(max-width: 1439px){
        width: 80%;
        height: 80%;  
    }
    &:hover{
        fill: #DF1111;
    }
}
.reverse-arrow{
    transform: rotate(180deg);
    width: 0.94vw;
    @media(max-width:767px){
       width: 5vw;
    }
    @media(min-width:768px)and(max-width:1023px){
       width:2vw ;
    }
    @media(min-width:1024px)and(max-width: 1439px){
        width: 1vw;
        padding-top: 15%; 
    }
}